// Main styles

#insert-book-button {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

.books {
  margin: 0 auto;
}

.ui.card.book {
  float: left;
  margin: 1em 0em;
}

.hidden {
  visibility: hidden !important;
}