<template name="modal">
  <div id="modify-book-modal" class="ui modal">
    {{> modifyBookModal}}
  </div>
</template>

<template name="modifyBookModal">
  <i class="close icon"></i>
    <div class="header">
      {{header}}
    </div>
    <div class="content">
      {{#autoForm collection="Books" id="modifyBookForm" type=type doc=doc}}
        {{> afQuickField name='categoryId' options=categoryOptions}}
        {{> afQuickField name='title'}}
        {{> afQuickField name='format' options="allowed"}}
        {{> afQuickField name='imageId'}}
        {{> afQuickField name='description' rows=6}}
      {{/autoForm}}
    </div>
    <div class="actions">
      {{#if showDeleteButton}}
        <button id="remove-book-button" class="ui red button left floated">Delete</button>
      {{/if}}

      <div class="ui button">Cancel</div>
      <button type="submit" form="modifyBookForm" class="ui green button">Save</button>
  </div>
</template>