<template name="books">
  <div class="row">
    <div class="column">
      <div class="books">
        {{#each books}}
          {{> book}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="book">
  <div class="ui card book">
    <div class="image">
      <img src="{{imageUrl}}">
    </div>

    <div class="content">
      <div class="header"> {{title}} </div>
      <div class="meta"> {{format}} </div>

      <div class="description">
        {{description}}
      </div>
    </div>

    {{#if currentUser}}
      <div class="extra content">
        <span class="left floated">
          <i class="like icon {{liked}}"></i>
          {{numLikes}}
        </span>
      </div>
    {{/if}}
  </div>
</template>
